
<section class="marchbg">
    <div class=" parallax-container">
    <!-- This row will contain the background image. -->
      <div class="parallax">
        <img src="black_lives_matter.jpg" >
      </div>

    </div>
         <!-- End of container for bg image -->
</section>

<section>
<div class="container">
  <div class="row">
        <!-- This row will contain the search and recent stories button. -->
        <div class="col s12 m6 l6 offset-l3">
            <a class="waves-effect waves-light btn-large" href="/posts"><i class="mdi-action-perm-identity left"></i>View Stories</a>
        </div>

        <div class="col s12 m6 l6 offset-l3">
          <form>
            <div class="input-field">
              <input id="search" type="search" required>
              <label for="search"><i class=" small mdi-action-search"> Search Stories</i></label>
              <i class="mdi-navigation-close"></i>
            </div>
          </form>
        </div>
    </div>
</div>
</section>



