<!-- Below is the partial for the header and nav bar -->

<nav>
    <div class="nav-wrapper amber accent-3 ">
      <a href="#" class="brand-logo right">Black Lives Matter: Remembered</a>
      <!-- <form>
          <div class="input-field">
              <input id="search" type="search" required>
              <label for="search"><i class="material-icons">Search for Stories</i></label>
              <i class="material-icons">close</i>
          </div>
      </form> -->
      <ul id="nav-mobile" class="right hide-on-med-and-down">

      </ul>
    </div>
  </nav>